<form id="new-artist" class="" action="index.html" method="post">
  <div class="form-group">
    <label for="name">Artist Name</label>
    <input class="form-control" type="text" name="name" value="">
  </div>
</form>
